parameters:

    paths:
        # Recommended: scope to only first-party plugins/themes
        - wp-content/plugins

    # The level 8 is the highest level
    level: 5

    scanFiles:
        - index.php
        - wp-activate.php
        - wp-blog-header.php
        - wp-comments-post.php
        - wp-config-local.php
        - wp-config.php
        - wp-cron.php
        - wp-links-opml.php
        - wp-load.php
        - wp-login.php
        - wp-mail.php
        - wp-settings.php
        - wp-signup.php
        - wp-trackback.php
        - xmlrpc.php

    scanDirectories:
        - wp-admin
        - wp-content
        - wp-includes

    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - wp-admin/includes/noop.php
        - wp-content/plugins/wordfence/waf/
        - wp-content/plugins/wp-time-capsule/wp-tcapsule-bridge/
